@import "../../scss/mixins";
@import "../../scss/variables";

.mainContainer {
}
.mainContentFlex {
  display: flex;
  height: 530px;
  align-items: stretch;
  gap: 24px;
  margin-bottom: 24px;

  img {
    width: 568px;
    border-radius: 30px;
  }
}
.mainContentWrp {
  background-color: $secondaryBgColor;
  border-radius: 30px;
  padding-top: 98px;
  padding-left: 64px;

  h1 {
    padding-right: 108px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.16em;
    letter-spacing: -0.96px;
    margin-bottom: 32px;
    span {
      font-size: 48px;
      font-style: italic;
      font-weight: 400;
      line-height: 1.16em;
      letter-spacing: -0.96px;
      background: $mainAccentColor;
      background-position: center;
      border-radius: 16px;
    }
  }
  p {
    padding-right: 185px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.37em;
    letter-spacing: -0.32px;
    margin-bottom: 64px;
  }
}
.getStartedLink {
  padding: 16px 88px;
  border-radius: 12px;
  background: $mainAccentColor;
  color: $mainTextColor;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55em;
  border: transparent;

  &:hover,
  &:focus {
    color: $mainAccentColor;
    background-color: $mainTextColor;
    transition: $hoverAnimation;
  }
}
.advancesList {
  display: flex;
  gap: 100px;

  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px dashed $mainAccentColor;
  padding: 42px 186px;

  li {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
.advancesNumber {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: -0.56px;
}
.advancesText {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28em;
  letter-spacing: -0.28px;
}
