@import "../../scss/mixins";
@import "../../scss/variables";

.filtersWrp {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: $breakpoint-tablet) {
    gap: 20px;
    flex-direction: row;
    justify-content: center;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    justify-content: start;
  }
}
.filtersTitle {
  color: $secondaryTextColor;
  font-size: 12px;
  margin-bottom: 8px;
  line-height: 1.1em;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28em;
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}

.filterBox {
  position: relative;
  display: flex;
  justify-content: flex-start;
  height: 38px;
  padding: 0 12px;
  align-items: center;
  border-radius: 14px;
  background: $secondaryBgColor;
  color: $mainTextColor;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.11;
  cursor: pointer;
  box-shadow: 0px 3.4369285106658936px 3.4369285106658936px 0px
    rgba(0, 0, 0, 0.25);
  @media screen and (min-width: $breakpoint-tablet) {
    height: 48px;
    padding: 0 18px;
    font-size: 18px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}

.filterBtn {
  border: transparent;
  background-color: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

.dropDowList {
  position: absolute;
  display: flex;
  gap: 8px;
  z-index: 8;
  top: 54px;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px 0;
  border-radius: 14px;
  background: $secondaryBgColor;
  color: $mainTextColor;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11em;
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1),
    opacity 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: 0px 3.4369285106658936px 3.4369285106658936px 0px
    rgba(0, 0, 0, 0.25);
  span {
    padding-left: 16px;
    color: $secondaryTextColor;
    cursor: pointer;
  }
}
.dropDownItem {
  cursor: pointer;
  padding-left: 16px;
}

.active {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 1;
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1),
    opacity 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.hidden {
  -webkit-transform: rotateX(70deg);
  transform: rotateX(70deg);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
