$mainBgColor: #ffffff;
$secondaryBgColor: #f8f8f8;
$mainTextColor: #121417;
$mainAccentColor: #ff6764;
// $mainAccentColor: #0089d1;
$hoverAnimation: 0.2s ease;
// $shadowColor: #e0e0e0;
// $wrapperBgGrey: #ebf3d4;
// $dropdownTextColor: #23262a;
// $ellipseColor: #d9d9d9;
