@import "../../scss/mixins";
@import "../../scss/variables";

.bookLessonForm {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 18px;
}
.bookLessonField {
  width: calc(100% - 10px);
  outline: none;
  padding: 15px 3px;
  border-radius: 12px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  color: $mainTextColor;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.37em;
  &:hover,
  &:focus {
    border-color: $mainAccentColor;
  }
  &::placeholder {
    color: $mainTextColor;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.37em;
    @media screen and (min-width: $breakpoint-tablet) {
      font-size: 16px;
    }
  }
  @media screen and (min-width: $breakpoint-tablet) {
    padding: 16px 18px;
    width: calc(100% - 38px);
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}
.bookLessonLabel {
  position: relative;
}

.bookLessonButton {
  padding: 16px 0;
  border-radius: 12px;
  border-color: transparent;
  color: $mainTextColor;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55em;
  background-color: $mainAccentColor;
  &:hover,
  &:focus {
    color: $mainAccentColor;
    background-color: $mainTextColor;
    transition: $hoverAnimation;
  }
}

.errorMessage {
  font-size: 14px;
  line-height: 1.5;
  color: #e74a3b;
  margin-left: 18px;
}

.radioInputWrp {
  margin-bottom: 23px;
  h3 {
    color: $mainTextColor;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33em;
    margin-bottom: 21px;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 3px;
  }
}
